.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, #f2dcf5,#fabbf1);
    padding: 50px 0;
}

.card__inner {
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fffffe;
}

.header {
    margin: 20px;
    text-align: center;
}

.site__title {
    font-weight: 400;
    line-height: 1.7;
    font-family:
            "Noto Serif JP",
            serif;
    color: #fabbf1;
}

