.page {
    width: 70%;
    margin: 0 auto;
    background-color: #eee;
}

.card {
    margin: 20px;
    padding-bottom: 10px;
}

h2 {
    margin: 0;
}
.page__title{
    padding: 30px 0;
}

.form__label {
    margin: 10px ;
}

.form__label span {
    margin-left: 10px;
    background-color: red;
    color: #fff;
    padding: 0 5px;
    border-radius: 3px;
}

.form__group input {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
}

.input__unit {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input__unit input  {
    flex:1;
    border: 1px solid #eee;
}

input[type="date"],
input[type="time"] {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #eee;
}

.error {
    margin-bottom: 30px;
    color: red;
}

.form__group textarea {
    width: 100%;
    height: 10vh;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #eee;
}

.form__actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form__action-left {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.btn {
    display: inline-flex;
    width: 160px;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 30px 0;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.btn--gray {
    background-color: #ddd;
    color: #000;
    border: 1px solid #ddd;
}

.btn--gray a{
    text-decoration: none;
    color: inherit;
}

.btn--primary {
    background-color: #8646ff;
    color: #fff;
    border: none;
}

body.update-page .form__actions {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

body.update-page .form__action-center {
    display: flex;
    gap: 10px;
}

body.update-page .delete-form {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.btn--danger {
    display: inline;
    border:none;
    color: #ff0000;
}


