.auth {
    width: 400px;
    margin: 0 auto;
}

.page__title {
    text-align: center;
    font-weight: bold;
    color: #333;
}

.step {
    margin: 10px 0 20px;
}

.auth__input {
    margin-bottom: 20px;
    margin-left: 20px;
}

.auth input {
    width: 90%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.error {
    color: red;
}

.auth label {
    display: block;
}

.move__page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}

.btn {
    border: none;
    border-radius: 12px;
    padding: 10px 70px;
    margin: 10px 0;
    background: linear-gradient(50deg, #b491f0, #f1c3f1);
    color: #fff;
    font-size: 16px;
}

.link__return a {
    margin-top: 10px;
    padding: 9px 70px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #eee;
    
}