.flash-message {
    background-color: #e0f7fa;
    color: #00796b;
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.page {
    max-width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}

.summary {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px auto;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 5px;

}

.summary__item {
    flex: 1;
    padding-left: 20px;
    position: relative;
}

.summary__item::after {
    content: "";
    position:absolute;
    top: 30%;
    right: 0;
    width: 2px;
    height: 40%;
    background-color: #eee;
}

.summary__item:last-child::after {
    display: none;
}

.summary__value {
    font-size: 25px;
    font-weight: bold;
}

.search__area {
    width: 100%;
    padding: 30px;
    background-color: #fff;
    box-sizing: border-box;
}

.search {
    width:100%;
    display: flex;
    justify-content: space-between;
    gap:20px;
    /*margin-bottom: 30px;*/
}

.search__form {
    display: flex;
    gap: 20px;
}

.search__left {
    margin-bottom: 30px;
}

.form__control input,
.form__control .btn,
.search__left .btn__primary
{
    height: 40px;
    padding: 0 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}

.btn__search {
    margin-right: 10px;
}

.btn__reset {
    background-color: #eee;
    text-decoration: none;
    font-size: 14px;
}

.btn__primary {
    background: linear-gradient(50deg, #b491f0, #f1c3f1);
    text-decoration: none;
    color: #fff;
}

.search__result {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search__result table {
    width: 100%;
    border-collapse: collapse;
}

.search__result th,
.search__result td {
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.edit-icon:hover {
    color: #00796b;
}

.pager {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pager ul.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 6px;
}

.pager .page-item {
    margin: 0 5px;
}

.pager .page-link {
    display: block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-decoration: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
}

.pager .page-item.active .page-link {
    background-color: #000;
    color: #fff;
}

.pager .page-item.disabled .page-link {
    color: #aaa;
}

.pager ul.pagination {
    display: flex !important;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}