.inner {
    max-width: 90%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
} 

.weight-summary {
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 5px;

}

.weight-summary__item {
    flex: 1;
    padding-left: 20px;
    position: relative;
}

.weight-summary__item::after {
    content: "";
    position:absolute;
    top: 30%;
    right: 0;
    width: 2px;
    height: 40%;
    background-color: #eee;
}

.weight-summary__item:last-child::after {
    display: none;
}

.weight-summary__value {
    font-size: 25px;
    font-weight: bold;
}

.search {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.weight__search {
    display: flex;
    gap: 8px;

}

