.auth {
    width: 400px;
    margin: 0 auto;
}

.step {
    margin: 10px 0 20px;
}

.auth__input {
    margin-bottom: 20px;
    margin-left: 20px;
}

.auth input {
    width: 90%;
    padding: 10px;
    border-radius: 3px;
}
.auth label {
    display: block;
}

.move__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
}

.btn {
    border: none;
    border-radius: 12px;
    padding: 10px 70px;
    background-color: #8646ff;
    color: #fff;
}