.header__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;;
}

.header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav__setting, .nav__logout {
    border: 1px solid #ddd;
    background-color: #eee;
    padding: 4px 5px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

main {
    background-color: #eee;
    border-top: 3px solid #bbb;
    min-height: 100vh;
}
