.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;;
}

.nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav__setting {
    border: 1px solid #000;
    padding: 3px 5px;
    text-decoration: none;
}

.nav__logout {
    padding: 4px 5px;
    font-size: 16px;
}

main {
    background-color: #eee;
    border-top: 3px solid #bbb;
}
